//  @todo: change values based on input product image, for example thsirt/bag/phone background...

.canvas_editor {
    height: calc(100vh - 50px);
    width: 100%;
    position: relative;
    bottom: 0;
}

.canvas__layer {
    width: 100%;
    max-width: 770px; // otherwise, product image might be too big
    min-width: 450px; // otherwise it gets shifted, shrinks
    position: absolute;
    background-repeat: no-repeat;
    background-position: bottom;
}

.canvas__layer_product {
    // background-image is set programatically
    background-size: cover;
    top: -50px;
    height: calc(100vh);
}

.canvas__layer_svg {
    // background-image is set programatically
    bottom: 50px;
    padding: 6em 5.2em 6em 4em;
}