
@import '../../utils/variables.scss';

.tabs ul {
    list-style-type:none;
    display:flex;
    justify-content: center;
    margin-bottom: 1.6rem;
    font-family: $font-family-controls;
    text-transform: uppercase;
    font-weight: 700;
}

.tab__content.content_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab__content.content_1 > div {
    display: flex;
    align-items: center;
}

.tab__content.content_1 > div > a {
    display: flex;
}

.tab__content.content_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab__content.content_2 > div {
    display: flex;
    align-items: center;
}

.tab__content.content_3 > .row {
    padding: 0 15px;
}

.form_dashboard {
    font-family: $font-family-controls;
}

.form.form_dashboard.form-horizontal label.control-label {
    text-align: left;
}

.tabs_dashboard .aap-item {
    margin: 1em;
}

.container_delete-button .button_delete {
    cursor: pointer;
    font-size: 0.8em;
    margin-top: 6em;
}

.container_delete-button .button_delete:hover {
    color: $brand-danger;
}

.container_delete-button {
    // position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
}

.tabs li[role=presentation] > a {
    // min-width: 100px;
    text-align: center;
    letter-spacing: 0.06rem;
    color: $brand-primary !important;

    &:hover {
        border-radius: 25px;
    }
}

.tabs li[role=presentation].active > a {
    @include button-style();
    min-width: initial;
    color: #fff !important;
    background-color: $brand-primary !important;
}