@import '../../utils/variables.scss';

// .items-container {
// }

.items-container__wrapper {
    max-width: 22em;
    margin-right: 0;
    margin-left: auto;
}

.items-container svg {
    height: 100%;
    width: 100%;
}

.form .form__control.form__control_buttongroup > * {
    text-transform: uppercase;
    font-weight: 700;
}

.form__section_number-selector {
    max-width: 9.4em;
}

.form__section_price {
    padding-top: 1.6rem;
    border-top: 3px solid;
}

.form__section .result-price {
    font-weight: 700;
    font-size: 3.2rem;
}

.page-content .order-btn {
    margin-top: 0;
    margin-bottom: 3.2rem;
}

.page-content .size-picker .form__control_buttongroup {

    button {
        border: 3px solid #333;
        border-right: none;
        margin-left: 0;

        &:active, &:focus, &:hover {
            border: 3px solid #333;
            border-right: none;
            background-color: $brand-primary;
            color: #fff;
        }
    }

    button:last-of-type {
        border-right: 3px solid #333;
    }

}