@import '../../../../utils/variables.scss';

$nav-item-color-bg: transparent;

.navigation {
    border: none !important;
    font-family: $font-family-nav;
    

    & .nav.navbar-nav li {
        background-color: $nav-item-color-bg;

        &.button_nav > a {
            border: 3px solid;
            line-height: 0px;
            padding: 15px 15px;
            margin: 7px;
            background-color: $nav-item-color-bg;

            &:hover {
                background-color: $gray-lighter;
                text-decoration: none;
            }
        }
    
        & > a {
            color: $text-color;
        

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

nav.navigation .nav.navbar-nav li.button.button_bordered a {
    border: 3px solid;
    line-height: 0px;
    padding: 15px 15px;
    margin: 7px;
    background-color: $nav-item-color-bg;

    &:hover {
        background-color: $gray-lighter;
        text-decoration: none;
    }
}

.navigation_bg {
    // background-color: transparent !important;
    background-color: #fff !important;
}

// .button_nav > a[role=button] {
    
// }

img.image.image_logo {
    width: 3em;
    height: auto;
}

.navigation.navbar-default {
    .navbar-toggle {
        border: none;
    }

    .navbar-toggle .icon-bar {
        background-color: #333;
    }
    .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 0.6rem;
    }

    .navbar-toggle .icon-bar {
        width: 30px;
        height: 4px;
        border-radius: 2px;
    }

    .navbar-collapse {
        border: none;
    }

    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color: $gray-lighter;
    }
}
