/*
Styles for scenes

Scenes (= application pages) are styled here on
very general level.
*/

@import '../utils/mixins.scss';
@import '../utils/variables.scss';

$base-font-size: 1.6rem;
$base-line-height:  $base-font-size * 1.6;
$headline-font-size: $base-font-size * 3.2;
$headline-line-height: $headline-font-size * 1.2;

.text {
    font-family: $font-family-text;
    font-size: $base-font-size;
    // max-width: 40 * $base-font-size;
    // should be circa 65 ems based on research by SmashingMagazine
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

.block_100vh {
    height: 100vh;
}

.block__text_left {
    margin-left: 15px;
    text-align: left;
}

.block__text_right {
    margin-right: 0;
    text-align: right;
}

.block__headline {
    font-family: $font-family-headline;
    font-weight: 700;
    letter-spacing: -.025em;
    
}

.block__headline_h1 {
    letter-spacing: -.025em;
    font-size: $headline-font-size;
    text-align: center;
    line-height: $headline-line-height;
    margin-bottom: $base-line-height;

    @media screen and (max-width: $screen-sm-max) {
        font-size: $headline-font-size * 0.6;
        line-height: $headline-line-height * 0.6;
        margin-bottom: $base-line-height * 0.6;
    }
}

.block__headline_h2 {
    font-size: $base-font-size * 2;

    @media screen and (max-width: $screen-sm-max) {
        font-size: $base-font-size * 2 * 0.6;
        line-height: $base-font-size * 2 * 0.6;
        // margin-bottom: $base-font-size * 2 * 0.6;
    }
}

.block__headline_left {
    text-align: left;
    margin-left: 15px;
}

.block__text {
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin-bottom: $base-font-size;
}

.block__link_unstyled {
    @include remove-effects();
    color: $text-color;
}

.block__link_unstyled:hover {
    @include remove-effects();
    color: $text-color;

    h2 {
        text-decoration: underline;
    }
}