@import '../../utils/variables.scss';

.block__social-icon {
    padding: 0.2em;
    margin: 0.6em;
    cursor: pointer;
}

.block__social-icon:hover {
    color: $brand-info;
}

.form_login {
    max-width: 30rem;
    margin: 1.6rem auto;
    font-family: $font-family-controls;
}