
.aap-wrapper {
    position: relative;
    height: 100%;
}

.aap-wrapper .product-wrapper {
    position: absolute;
    z-index: 1;
}

// .aap-wrapper .svg-wrapper {
//     position: absolute;
//     z-index: 2;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -40%);
//     padding: 3%;
// }

.svg-wrapper .aap-svg {
    width: 100%;
    height: 100%;
}

$tshirt-width: 20vw;
$bag-width: 12vw;
$digital-width: 15vw;

/*
* TSHIRT
*/

.aap-item.tshirt {
    width: $tshirt-width;
    height: calc(#{$tshirt-width} * 1.214);
    min-width: 200px;
    min-height: 240px;
}

.aap-item.tshirt .svg-wrapper {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -40%);
    padding: 3%;
}

.aap-item.tshirt.lines .svg-wrapper {
    padding: 10% 10% 0 10%;
}

.aap-item.tshirt.free .svg-wrapper {
    padding: 19% 7% 0 7%;
}

/*
* BAG
*/

.aap-item.bag {
    width: $bag-width;
    height: calc(#{$bag-width} * 2.05);
    min-width: 120px;
    min-height: 246px;
}

.aap-item.bag .aap-wrapper {
    display: flex;
}

.aap-item.bag .svg-wrapper {
    z-index: 2;
    padding: 10%;
}

.aap-item.bag.lines .svg-wrapper {
    padding-top: 100%;
}

/*
* DIGITAL
*/

.aap-item.digital {
    width: $digital-width;
    height: auto;
    min-width: 150px;
    margin: 1em 2em;
}

.aap-item.digital .aap-wrapper {
    display: flex;
}