@import '../../../../utils/mixins.scss';
@import '../../../../utils/variables.scss';

@mixin hasCheckMixin() {
    position: absolute;
    left: calc(50% - 16px);
    top: calc(50% - 22px);
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: $brand-success;
    font-size: 3.2rem;
    @include animation('fadeIn 0.5s 1');
}

span.pattern-item {
    display: inline-block;
    @include remove-effects();
    position: relative;
    cursor: pointer;
}

.has-check {
    &::before {
        position: absolute;
        left: calc(50% - 16px);
        top: calc(50% - 22px);
        content: "\f00c";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        color: $brand-success;
        font-size: 3.2rem;
        @include animation('fadeIn 0.5s 1');
    }
}