/*
General styles, the topmost level of styling.

Styles placed here are meant to be somehow shared,
used across scenes and components. Or very much general.
*/

@import 'utils/variables.scss';
@import 'utils/mixins.scss';

$navbar-height: 50px; // header navbar + margin bottom

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-text;
}

#root {
  overflow: hidden;
}

.wrapper {
  margin-top: $navbar-height;
}

// used by components/Routes and scenes/*
.page-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$navbar-height});
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-content_gray {
  background-color: darken($gray-lighter, 5%);
}

.page-content_editor_theme {
  padding-top: 0;
}

// .list {
  
// }

.list_unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div > .section--nav {
  height: calc(100vh - #{$navbar-height});
}

.button, .block__button {
  font-family: $font-family-controls;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.button_unstyled {
  @include remove-effects();

  &:hover, &:focus, &:active, &:active:focus, &:visited {
    @include remove-effects();
  }
}

.form {
  font-family: $font-family-controls;
}