/*
General styles, the topmost level of styling.

Styles placed here are meant to be somehow shared,
used across scenes and components. Or very much general.
*/

@import 'utils/variables.scss';
@import 'utils/mixins.scss';

$navbar-height: 50px; // header navbar + margin bottom

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-text;
}

#root {
  overflow: hidden;
}

.wrapper {
  margin-top: $navbar-height;
}

// used by components/Routes and scenes/*
.page-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$navbar-height});
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.page-content_gray {
  background-color: darken($gray-lighter, 5%);
}

.page-content_editor_theme {
  padding-top: 0;
}

// .list {
  
// }

.list_unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div > .section--nav {
  height: calc(100vh - #{$navbar-height});
}

.button, .block__button {
  @include button-style();
}

.btn {
  padding: 10px 15px;
}

.btn-default {
  border: 3px solid;

  &:hover {
    border-color: #333;
  }
}

.btn-success {
  background-color: $brand-success;
  border-color: $brand-success;

  &:hover {
    background-color: darken($brand-success, 5%);
    border-color: darken($brand-success, 5%);
  }
}

.btn-default[disabled]:hover {
  background-color: initial;
  border-color: initial;
}

.btn-primary[disabled]:hover {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.btn-primary {
  border: 3px solid $brand-primary;
  background-color: $brand-primary;

  &:hover, &:active, &:focus {
    // border-color: darken(#FFB300, 5%);
    // background-color: darken(#FFB300, 5%);
  }
}

.btn.btn-primary:active:hover {
  outline: none !important;
  box-shadow: none !important;
  border-color: darken($brand-primary, 5%);
  background-color: darken($brand-primary, 5%);
}

button:active, .button:active, button:focus, .button:focus, button:hover, .button:hover{
    outline:none !important;
}

.label {
  border-radius: 25px;
  background-color: $brand-primary;
}

.page-content .button.block__button.button_lg {
  min-width: 200px;
}

a[role=button] {
  border-radius: 25px;
}

.button_unstyled {
  @include remove-effects();

  &:hover, &:focus, &:active, &:active:focus, &:visited {
    @include remove-effects();
  }
}

.form {
  font-family: $font-family-controls;
}

a:focus, button:focus, .btn:focus, .btn:active {
  outline: none;
}

.page-content .button.block__button {
  min-width: 100px;
}

a {
  color: $brand-primary;

  &:hover {
    color: darken($brand-primary, 5%);
  }
}

/* IE7-8 need help adjusting responsive images */
.img-responsive {
  width: auto\9;
}

button.btn-primary:focus, button.btn-primary:active {
  background-color: $brand-primary;
  border: 3px solid $brand-primary;
  color: #fff;
  box-shadow: none;
}

.button_small {
  padding: 6px 10px;
  font-size: 10px;
  margin: 1.6rem 0;

  &:active, &:focus, &:active:focus {
    box-shadow: none;
    border-color: #333;
  }
}