@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.form_contact {
    margin-top: 3.2rem;
    max-width: $max-width;
    font-family: $font-family-controls;
    line-height: 1.6rem;
}

.form_contact input {
    height: 6.4rem;
}

.form_contact textarea {
    min-height: 11.2rem;
}

.form__counter {
    font-weight: 700;
}