@import '../../../../utils/variables.scss';

.footer {
    background-color: $gray-lighter;
    position: relative;
    z-index: 1;
    font-family: $font-family-controls;
}

.footer__block {
    padding-top: 1.6em;
}

.footer__block--copyright {
    padding-bottom: 1.6em;
}

.list_footer {
    text-align: center;
    list-style-type: none;
    line-height: 1.6em;

    @media screen and (max-width: $screen-xs-max) {
        text-align: center !important;
    }
}